# Saint James Rota Generator

### 1) Enter dates

In [1]:
# lists the date from which you want the rota to be made
day = 19
month = 8
year = 2023

# states the number of days you want the rota to be made for
period = 7

# lists a date far in the future for workers with no end date
no_end_date = '01-01-2100'

### 2) Enter job details

In [2]:
# lists daily roles which should be filled
job = ['main_receptionist',
       'reception_asistant_1', 'reception_asistant_2', 
       'day_support',
       'maintenance',
       'morn_clean_1', 'morn_clean_2', 'morn_clean_3',
       'evening_clean',
       'happiness_manager',
       'night_receptionist',
       'night_cleaner']

role = ['main_receptionist',
       'reception_asistant', 'reception_asistant',
       'day_support',
       'maintenance',
       'housekeeper', 'housekeeper', 'housekeeper',
       'housekeeper',
       'happiness_manager',
       'night_receptionist',
       'night_cleaner']

# lists how many hours each role takes on a daily basis
hours_required = [12,
                  7,7,
                  7,
                  7,
                  7,7,7,
                  7,
                  7,
                  12,
                  7]

### 3) Enter worker details

Enter the following details about your workers:  

    1) Name  
    2) Start Date  
    3) End Date  
    4) Primary role  
    5) Secondary role (if any)  
    6) Max hours  
    7) Days off

In [3]:
# main receptionists
main_receptionist_1 = ['jack', '23-04-2023', no_end_date, 'main_receptionist', None, 36, ['Saturday', 'Sunday', 'Monday', 'Tuesday']]
main_receptionist_2 = ['kyle', '13-06-2023', no_end_date, 'main_receptionist', None, 48, ['Wednesday', 'Thursday', 'Friday']]

# reception asistants
reception_asistant_1 = ['iranzu', '08-07-2023', '08-09-2023', 'reception_asistant', 'day_support', 35, ['Monday', 'Tuesday']]
reception_asistant_2 = ['maria', '27-04-2023', no_end_date, 'reception_asistant', 'day_support', 35, ['Wednesday', 'Thursday']]
reception_asistant_3 = ['madd', '08-08-2023', '30-09-2023', 'reception_asistant', 'day_support', 35, ['Saturday', 'Friday']]

# day support
day_support_1 = ['paula', '01-07-2023', '31-10-2023', 'day_support', None, 35, ['Monday', 'Tuesday']]
day_support_2 = ['ryan', '01-07-2023', '23-08-2023', 'day_support', None, 35, ['Wednesday', 'Thursday']]

# maintenance
maintenance_1 = ['douglas', '14-02-2023', '30-08-2023', 'maintenance', None, 35, ['Wednesday', 'Thursday']]

# housekeepers
housekeeper_1 = ['kat', '01-01-2023', no_end_date, 'housekeeper', None, 35, ['Monday', 'Tuesday']]
housekeeper_2 = ['bella', '20-07-2023', no_end_date, 'housekeeper', None, 35, ['Wednesday', 'Thursday']]
housekeeper_3 = ['fernando', '22-05-2023', '01-11-2023', 'housekeeper', None, 35, ['Friday', 'Saturday']]
housekeeper_4 = ['gigi', '09-08-2023', '09-11-2023', 'housekeeper', None, 35, ['Sunday', 'Monday']]
housekeeper_5 = ['pedro', '15-08-2023', '15-10-2023', 'housekeeper', None, 35, ['Tuesday', 'Wednesday']]

# happiness manager
happiness_manager_1 = ['pepe', '16-07-2023', '17-10-2023', 'happiness_manager', None, 35, ['Monday', 'Tuesday']]

# night receptionists
night_receptionist_1 = ['matias', '02-02-2023', no_end_date, 'night_receptionist', None, 36, ['Tuesday', 'Wednesday', 'Thursday', 'Friday']]
night_receptionist_2 = ['julian', '21-05-2023', no_end_date, 'night_receptionist', None, 48, ['Saturday', 'Sunday', 'Monday']]

# night cleaner
night_cleaner_1 = ['drazen', '01-01-2023', no_end_date, 'night_cleaner', None, 35, ['Wednesday', 'Thursday']]

### Create a jobs dataframe

In [4]:
# imports key libraries
import pandas as pd
import numpy as np

#
cols = ['job', 'role', 'hours_required']

# creates a job dataframe
jobs_df = pd.DataFrame()

#
for i in range(len(cols)):
    jobs_df[cols[i]] = eval(cols[i])

# displays the job dataframe
jobs_df

                     job                role  hours_required
0      main_receptionist   main_receptionist              12
1   reception_asistant_1  reception_asistant               7
2   reception_asistant_2  reception_asistant               7
3            day_support         day_support               7
4            maintenance         maintenance               7
5           morn_clean_1         housekeeper               7
6           morn_clean_2         housekeeper               7
7           morn_clean_3         housekeeper               7
8          evening_clean         housekeeper               7
9      happiness_manager   happiness_manager               7
10    night_receptionist  night_receptionist              12
11         night_cleaner       night_cleaner               7

### Create a worker dataframe

In [5]:
# sets warnings to none for chained_assignment
pd.options.mode.chained_assignment = None

# lists the roles at saint james
roles = ['main_receptionist_1', 'main_receptionist_2',
         'reception_asistant_1', 'reception_asistant_2', 'reception_asistant_3', 
         'day_support_1', 'day_support_2', 'day_support_3',
         'maintenance_1', 'maintenance_2',
         'housekeeper_1', 'housekeeper_2', 'housekeeper_3', 'housekeeper_4', 'housekeeper_5',
         'happiness_manager_1', 'happiness_manager_2',
         'night_receptionist_1', 'night_receptionist_2', 'night_receptionist_3',
         'night_cleaner_1', 'night_cleaner_2']

# creates a worker datframe
worker_df = pd.DataFrame()

# adds each role to the worker dataframe if they currently exist
for i in range(len(roles)):
    try:
        worker_df[i] = eval(roles[i])
    except:
        pass
    
# re-shapes the worker dataframe so that each worker is represented as a column
worker_df = worker_df.transpose()

# renames the columns to appropriate names
worker_df.columns = ['Name', 'Start', 'End', 'Role', 'Secondary', 'Hours', 'Days Off']

# resets the index
worker_df.reset_index(drop=True, inplace=True)

# displays the worker dataframe
worker_df

,Name,Start,End,Role,Secondary,Hours,Days Off
0,jack,23-04-2023,01-01-2100,main_receptionist,None,36,"[Saturday, Sunday, Monday, Tuesday]"
1,kyle,13-06-2023,01-01-2100,main_receptionist,None,48,"[Wednesday, Thursday, Friday]"
2,iranzu,08-07-2023,08-09-2023,reception_asistant,day_support,35,"[Monday, Tuesday]"
3,maria,27-04-2023,01-01-2100,reception_asistant,day_support,35,"[Wednesday, Thursday]"
4,madd,08-08-2023,30-09-2023,reception_asistant,day_support,35,"[Saturday, Friday]"
5,paula,01-07-2023,31-10-2023,day_support,None,35,"[Monday, Tuesday]"
6,ryan,01-07-2023,23-08-2023,day_support,None,35,"[Wednesday, Thursday]"
7,douglas,14-02-2023,30-08-2023,maintenance,None,35,"[Wednesday, Thursday]"
8,kat,01-01-2023,01-01-2100,housekeeper,None,35,"[Monday, Tuesday]"
9,bella,20-07-2023,01-01-2100,housekeeper,None,35,"[Wednesday, Thursday]"
10,fernando,22-05-2023,01-11-2023,housekeeper,None,35,"[Friday, Saturday]"
11,gigi,09-08-2023,09-11-2023,housekeeper,None,35,"[Sunday, Monday]"
12,pedro,15-08-2023,15-10-2023,housekeeper,None,35,"[Tuesday, Wednesday]"
13,pepe,16-07-2023,17-10-2023,happiness_manager,None,35,"[Monday, Tuesday]"
14,matias,02-02-2023,01-01-2100,night_receptionist,None,36,"[Tuesday, Wednesday, Thursday, Friday]"
15,julian,21-05-2023,01-01-2100,night_receptionist,None,48,"[Saturday, Sunday, Monday]"
16,drazen,01-01-2023,01-01-2100,night_cleaner,None,35,"[Wednesday, Thursday]"

### Create a dates dataframe

In [6]:
# imports datetime to work with dates
import datetime as datetime

# creates an empty dataframe object
df = pd.DataFrame()

# loops through each day in the desired period (timeframe) and returns all dates from the start date
start_date = datetime.datetime(year,month,day)
date = start_date
dates = [start_date]
for i in range((period-1)): 
    date += datetime.timedelta(days=1)
    dates.append(date)

# creates a dates column
df['Dates'] = dates

# calculates the day of the week based on the date
def calculate_day_of_week(date):
    try:
        # Get the day of the week as an integer (Monday is 0 and Sunday is 6)
        day_of_week = date.weekday()
        
        global days
        days = ['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
        
        return days[day_of_week]
    except ValueError as e:
        return str(e)
    
# creates a days object containing all days of the week for the desired period
days = []
for i in range(len(df)):
    days.append(calculate_day_of_week(df['Dates'][i]))

# adds a days column to the dataframe
df['Day'] = days

# displays the dataframe
df

       Dates        Day
0 2023-08-19   Saturday
1 2023-08-20     Sunday
2 2023-08-21     Monday
3 2023-08-22    Tuesday
4 2023-08-23  Wednesday
5 2023-08-24   Thursday
6 2023-08-25     Friday

### Generate a blank rota

In [7]:
# creates a blank rota with roles for columns that aren't yet filled in
for i in range(len(jobs_df)):
    df[jobs_df['job'][i]] = ''

# displays the dataframe
df

,Dates,Day,main_receptionist,reception_asistant_1,reception_asistant_2,day_support,maintenance,morn_clean_1,morn_clean_2,morn_clean_3,evening_clean,happiness_manager,night_receptionist,night_cleaner
0,2023-08-19,Saturday,,,,,,,,,,,,
1,2023-08-20,Sunday,,,,,,,,,,,,
2,2023-08-21,Monday,,,,,,,,,,,,
3,2023-08-22,Tuesday,,,,,,,,,,,,
4,2023-08-23,Wednesday,,,,,,,,,,,,
5,2023-08-24,Thursday,,,,,,,,,,,,
6,2023-08-25,Friday,,,,,,,,,,,,

### Find fully available workers

In [8]:
# imports datetime for the strptime function
from datetime import datetime

# lists the generated start and end dates 
week_start = df['Dates'][0]
week_end = df['Dates'][len(df)-1]

# loops through each worker and finds all fully available workers for the desired period
available_workers = []
for i in range(len(worker_df)):
    worker_start = datetime.strptime(worker_df['Start'][i], '%d-%m-%Y')
    worker_end = datetime.strptime(worker_df['End'][i], '%d-%m-%Y')
    if worker_start < week_start and worker_end > week_end:
        available_workers.append(worker_df['Name'][i])

# lists the fully available workers
available_workers

['jack',
 'kyle',
 'iranzu',
 'maria',
 'madd',
 'paula',
 'douglas',
 'kat',
 'bella',
 'fernando',
 'gigi',
 'pedro',
 'pepe',
 'matias',
 'julian',
 'drazen']

### Find partially available workers

In [9]:
# loops through each worker and finds all fully available workers for the desired period
partially_available_workers = []
for i in range(len(worker_df)):
    worker_start = datetime.strptime(worker_df['Start'][i], '%d-%m-%Y')
    worker_end = datetime.strptime(worker_df['End'][i], '%d-%m-%Y')
    if worker_start < week_start or worker_end > week_end:
        if worker_df['Name'][i] not in available_workers:
            partially_available_workers.append(worker_df['Name'][i])

# lists the fully available workers
partially_available_workers

['ryan']

### Get priority roles

In [10]:
def get_priority_roles():
    try:
        if len(partially_available_workers) > 0:
            priority_roles = []
            for i in range(len(partially_available_workers)):
                priority_roles.append(worker_df[worker_df['Name'] == partially_available_workers[i]].reset_index().Role[0])
    except:
        print('No priority roles')
        return

    return priority_roles

priority_roles = get_priority_roles()
priority_roles

['day_support']

### Set priority roles

In [11]:
# 
def move_row_to_first(df, row_index):
    # Check if the row index is within the valid range
    if row_index < 0 or row_index >= len(df):
        print("Invalid row index")
        return
    
    # Extract the row and drop it from its original position
    row_to_bring_to_top = df.iloc[row_index]
    df = df.drop(index=row_index)
    
    # Insert the row at the beginning of the DataFrame
    df = pd.concat([row_to_bring_to_top.to_frame().transpose(), df], ignore_index=True)
    
    return df

for i in range(len(priority_roles)):
    for j in range(len(jobs_df)):
        if jobs_df['role'][j] == priority_roles[i]:
            jobs_df = move_row_to_first(jobs_df, j)
        
jobs_df

                     job                role hours_required
0            day_support         day_support              7
1      main_receptionist   main_receptionist             12
2   reception_asistant_1  reception_asistant              7
3   reception_asistant_2  reception_asistant              7
4            maintenance         maintenance              7
5           morn_clean_1         housekeeper              7
6           morn_clean_2         housekeeper              7
7           morn_clean_3         housekeeper              7
8          evening_clean         housekeeper              7
9      happiness_manager   happiness_manager              7
10    night_receptionist  night_receptionist             12
11         night_cleaner       night_cleaner              7

### Set priority workers

In [12]:
# 
for i in range(len(partially_available_workers)):
    for j in range(len(worker_df)):
        if worker_df['Name'][j] == partially_available_workers[i]:
            worker_df = move_row_to_first(worker_df, j)
        
worker_df

,Name,Start,End,Role,Secondary,Hours,Days Off
0,ryan,01-07-2023,23-08-2023,day_support,None,35,"[Wednesday, Thursday]"
1,jack,23-04-2023,01-01-2100,main_receptionist,None,36,"[Saturday, Sunday, Monday, Tuesday]"
2,kyle,13-06-2023,01-01-2100,main_receptionist,None,48,"[Wednesday, Thursday, Friday]"
3,iranzu,08-07-2023,08-09-2023,reception_asistant,day_support,35,"[Monday, Tuesday]"
4,maria,27-04-2023,01-01-2100,reception_asistant,day_support,35,"[Wednesday, Thursday]"
5,madd,08-08-2023,30-09-2023,reception_asistant,day_support,35,"[Saturday, Friday]"
6,paula,01-07-2023,31-10-2023,day_support,None,35,"[Monday, Tuesday]"
7,douglas,14-02-2023,30-08-2023,maintenance,None,35,"[Wednesday, Thursday]"
8,kat,01-01-2023,01-01-2100,housekeeper,None,35,"[Monday, Tuesday]"
9,bella,20-07-2023,01-01-2100,housekeeper,None,35,"[Wednesday, Thursday]"
10,fernando,22-05-2023,01-11-2023,housekeeper,None,35,"[Friday, Saturday]"
11,gigi,09-08-2023,09-11-2023,housekeeper,None,35,"[Sunday, Monday]"
12,pedro,15-08-2023,15-10-2023,housekeeper,None,35,"[Tuesday, Wednesday]"
13,pepe,16-07-2023,17-10-2023,happiness_manager,None,35,"[Monday, Tuesday]"
14,matias,02-02-2023,01-01-2100,night_receptionist,None,36,"[Tuesday, Wednesday, Thursday, Friday]"
15,julian,21-05-2023,01-01-2100,night_receptionist,None,48,"[Saturday, Sunday, Monday]"
16,drazen,01-01-2023,01-01-2100,night_cleaner,None,35,"[Wednesday, Thursday]"

### Set priority days

In [13]:
#
priority_days = ['Friday', 'Sunday', 'Saturday']

#
for i in range(len(df)):
    if df['Day'][i] in priority_days:
        df = move_row_to_first(df, i)

# 
df

,Dates,Day,main_receptionist,reception_asistant_1,reception_asistant_2,day_support,maintenance,morn_clean_1,morn_clean_2,morn_clean_3,evening_clean,happiness_manager,night_receptionist,night_cleaner
0,2023-08-25,Friday,,,,,,,,,,,,
1,2023-08-20,Sunday,,,,,,,,,,,,
2,2023-08-19,Saturday,,,,,,,,,,,,
3,2023-08-21,Monday,,,,,,,,,,,,
4,2023-08-22,Tuesday,,,,,,,,,,,,
5,2023-08-23,Wednesday,,,,,,,,,,,,
6,2023-08-24,Thursday,,,,,,,,,,,,

### Set priority jobs

In [14]:
# 
priority_jobs = ['evening_clean', 'morn_clean_1', 'morn_clean_2']

# 
for i in range(len(jobs_df)):
    if jobs_df['job'][i] in priority_jobs:
        jobs_df = move_row_to_first(jobs_df, i)

# 
jobs_df

                     job                role hours_required
0          evening_clean         housekeeper              7
1           morn_clean_2         housekeeper              7
2           morn_clean_1         housekeeper              7
3            day_support         day_support              7
4      main_receptionist   main_receptionist             12
5   reception_asistant_1  reception_asistant              7
6   reception_asistant_2  reception_asistant              7
7            maintenance         maintenance              7
8           morn_clean_3         housekeeper              7
9      happiness_manager   happiness_manager              7
10    night_receptionist  night_receptionist             12
11         night_cleaner       night_cleaner              7

### Set conditions:  

#### Strict  
    1) is within start/end dates
    2) not in days off*
    3) not already working
    4) within max hours
    
#### Less strict 
    1) is within start/end dates
    2) not already working
    3) within max hours

In [15]:
# retruns true if a date is within someone's start and end dates
def within_start_end_dates(i, current_worker_index):
    start = temp_hours_df.loc[current_worker_index, 'Start'].reset_index(drop=True)[0]
    end = temp_hours_df.loc[current_worker_index, 'End'].reset_index(drop=True)[0]
    return df['Dates'][i] >= pd.to_datetime(start, dayfirst=True) and df['Dates'][i] < pd.to_datetime(end, dayfirst=True)


# returns true of a person is available to work that day
def is_available(i, days_off, current_worker_name, current_worker_index, job_hours, strict=True):
    not_in_days_off = df['Day'][i] not in days_off
    not_already_working = current_worker_name not in list(df.iloc[i,:])
    within_max_hours = temp_hours_df.loc[temp_hours_df.Name==current_worker_name, 'Hours'].reset_index(drop=True)[0] >= job_hours
    within_start_end = within_start_end_dates(i, current_worker_index)
    
    if strict==True:
        if sum([not_in_days_off, not_already_working, within_max_hours, within_start_end]) == 4:
            return True
        else:
            return False
        
    elif strict == False:
        if sum([not_already_working, within_max_hours, within_start_end]) == 3:
            return True
        else:
            return False

### Fill roles function

In [16]:
# moves the current row in a dataframe to the last row
def move_row_to_last(df, row_index):
    if row_index < 0 or row_index >= len(df):
        print("Invalid row index")
        return
    
    row_to_move = df.iloc[row_index]
    df = df.drop(index=row_index)
    df = df.append(row_to_move, ignore_index=True)
    
    return df


# loops through the dataframe and fills each day
def fill_job(i, role, job, job_hours):

    # create a workers dataframe and set a current worker 
    workers = temp_hours_df[temp_hours_df['Role']==role].reset_index(drop=True)
    current = 0
        
    if len(workers) == 0:
        print('No workers left to fill  this role')
        return
    
    # sets the current worker index and days off
    current_worker_name = workers.iloc[current,:].Name
    current_worker_index = temp_hours_df.Name==current_worker_name
    days_off = temp_hours_df.loc[current_worker_index, 'Days Off'].reset_index(drop=True)[0]
    
    # if the current worker's day off and only 1 worker skip
    if i in days_off and len(workers) == 1:
        pass

    else:
        # loops through each worker and finds one without a day off and not already working
        for row in range(len(workers)):
            if is_available(i, days_off, current_worker_name, current_worker_index, job_hours):
                pass
            else:
                workers = move_row_to_last(workers, current)
                current_worker_name = workers.iloc[current,:].Name
                current_worker_index = temp_hours_df.Name==current_worker_name
                days_off = temp_hours_df.loc[current_worker_index, 'Days Off'].reset_index(drop=True)[0]

        if is_available(i, days_off, current_worker_name, current_worker_index, job_hours, strict=False):
            df[job][i] = temp_hours_df.loc[current_worker_index, 'Name'].values[0]
            temp_hours_df.loc[current_worker_index, 'Hours'] = temp_hours_df.loc[current_worker_index, 'Hours'] - job_hours

### Loop through combinations

In [17]:
temp_hours_df = worker_df

for i in range(len(df)):
    for j in range(df.shape[1]-2):
        fill_job(i=i, role=jobs_df['role'][j], job=jobs_df['job'][j], job_hours=jobs_df['hours_required'][j])
        
df

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)

C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)
C:\Users\HUAWEI\AppData\Local\Temp\ipykernel_8524\2388407988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(row_to_move, ignore_index=True)

,Dates,Day,main_receptionist,reception_asistant_1,reception_asistant_2,day_support,maintenance,morn_clean_1,morn_clean_2,morn_clean_3,evening_clean,happiness_manager,night_receptionist,night_cleaner
0,2023-08-25,Friday,jack,iranzu,maria,paula,douglas,gigi,bella,pedro,kat,pepe,julian,drazen
1,2023-08-20,Sunday,kyle,iranzu,maria,ryan,douglas,fernando,bella,pedro,kat,pepe,matias,drazen
2,2023-08-19,Saturday,kyle,iranzu,maria,ryan,douglas,gigi,bella,pedro,kat,pepe,matias,drazen
3,2023-08-21,Monday,kyle,maria,madd,ryan,douglas,pedro,fernando,kat,bella,pepe,matias,drazen
4,2023-08-22,Tuesday,kyle,maria,madd,ryan,douglas,gigi,fernando,kat,bella,pepe,julian,drazen
5,2023-08-23,Wednesday,jack,iranzu,madd,paula,,,gigi,,fernando,,julian,
6,2023-08-24,Thursday,jack,iranzu,madd,paula,,pedro,gigi,,fernando,,julian,

In [18]:
df = df.sort_values('Dates').reset_index(drop=True)
df

,Dates,Day,main_receptionist,reception_asistant_1,reception_asistant_2,day_support,maintenance,morn_clean_1,morn_clean_2,morn_clean_3,evening_clean,happiness_manager,night_receptionist,night_cleaner
0,2023-08-19,Saturday,kyle,iranzu,maria,ryan,douglas,gigi,bella,pedro,kat,pepe,matias,drazen
1,2023-08-20,Sunday,kyle,iranzu,maria,ryan,douglas,fernando,bella,pedro,kat,pepe,matias,drazen
2,2023-08-21,Monday,kyle,maria,madd,ryan,douglas,pedro,fernando,kat,bella,pepe,matias,drazen
3,2023-08-22,Tuesday,kyle,maria,madd,ryan,douglas,gigi,fernando,kat,bella,pepe,julian,drazen
4,2023-08-23,Wednesday,jack,iranzu,madd,paula,,,gigi,,fernando,,julian,
5,2023-08-24,Thursday,jack,iranzu,madd,paula,,pedro,gigi,,fernando,,julian,
6,2023-08-25,Friday,jack,iranzu,maria,paula,douglas,gigi,bella,pedro,kat,pepe,julian,drazen

In [19]:
temp_hours_df

,Name,Start,End,Role,Secondary,Hours,Days Off
0,ryan,01-07-2023,23-08-2023,day_support,None,7,"[Wednesday, Thursday]"
1,jack,23-04-2023,01-01-2100,main_receptionist,None,0,"[Saturday, Sunday, Monday, Tuesday]"
2,kyle,13-06-2023,01-01-2100,main_receptionist,None,0,"[Wednesday, Thursday, Friday]"
3,iranzu,08-07-2023,08-09-2023,reception_asistant,day_support,0,"[Monday, Tuesday]"
4,maria,27-04-2023,01-01-2100,reception_asistant,day_support,0,"[Wednesday, Thursday]"
5,madd,08-08-2023,30-09-2023,reception_asistant,day_support,7,"[Saturday, Friday]"
6,paula,01-07-2023,31-10-2023,day_support,None,14,"[Monday, Tuesday]"
7,douglas,14-02-2023,30-08-2023,maintenance,None,0,"[Wednesday, Thursday]"
8,kat,01-01-2023,01-01-2100,housekeeper,None,0,"[Monday, Tuesday]"
9,bella,20-07-2023,01-01-2100,housekeeper,None,0,"[Wednesday, Thursday]"
10,fernando,22-05-2023,01-11-2023,housekeeper,None,0,"[Friday, Saturday]"
11,gigi,09-08-2023,09-11-2023,housekeeper,None,0,"[Sunday, Monday]"
12,pedro,15-08-2023,15-10-2023,housekeeper,None,0,"[Tuesday, Wednesday]"
13,pepe,16-07-2023,17-10-2023,happiness_manager,None,0,"[Monday, Tuesday]"
14,matias,02-02-2023,01-01-2100,night_receptionist,None,0,"[Tuesday, Wednesday, Thursday, Friday]"
15,julian,21-05-2023,01-01-2100,night_receptionist,None,0,"[Saturday, Sunday, Monday]"
16,drazen,01-01-2023,01-01-2100,night_cleaner,None,0,"[Wednesday, Thursday]"

### Saves as xlsx

In [20]:
# save as an xlsx file
df.to_excel('C:/Users/HUAWEI/Desktop/Projects/Saint-James-Rota-Generator/current_rota.xlsx', index=False)